/*This is a css comment*/

/*header*/
header{
    text-align: center;
    background-color: blue;
    color: white;
}

main{
    text-align: center;
    background-color: #4CAF50;
}

/*main*/
#addition, #subtraction, #subtraction2, #multiplication, #division, #division2{
    text-decoration: none;
    background-color: rgb(18, 99, 99);
    color: azure;
    font-size: 30px;
    margin: 20px;
    text-align: center;
}
