/*This is a css comment*/

/*header*/
header{
    text-align: center;
    background-color: blue;
    color: white;
}

main{
    text-align: center;
    background-color: #4CAF50;
}

/*main*/
#addition{
    text-decoration: none;
    background-color: aqua;
    color: azure;
    font-size: 50px;
    margin: 20px;
    text-align: center;
}